<a href="https://colab.research.google.com/github/VitinDemarque/HarmoniApi/blob/main/TrabalhoLimpeza.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [52]:
import pandas as pd

In [54]:
from google.colab import files
uploaded = files.upload()

Saving vendas_modificado.csv to vendas_modificado (1).csv

In [55]:
df = pd.read_csv('vendas_modificado.csv')

In [56]:
df.head()

,id_da_compra,data,hora,cliente,produto,valor,quantidade,total,status,cidade,estado,pais,cep,frete,pagamento,vendedor,marca
0,13679,2021-03-20,23:35:51,LUCAS Araujo Kuhn,Queijo Mussarela,"R$ 16,87",13,239.31,Pagamento Confirmado,Niterói,RJ,Brasil,24000-000,20.0,Cartão de Crédito,SAMUEL HENRIQUE CAÇADOR,Porto Alegre
1,28070,2020-10-30,09:00:53,MICAEL SOUZA RONCETE,Molho de Tomate,"R$ 3,25",3,9.75,Pagamento Confirmado,Mariana,MG,Brasil,35420-000,0.0,Pix,MICAEL MALAQUIAS DE SOUZA OLIVEIRA,Fugini
2,47484,2021-06-09,15:30:28,FELIPE AUGUSTO NERY SILVA,Água Mineral,"R$ 1,63",9,36.67,Pagamento Confirmado,Cabo Frio,RJ,Brasil,28900-000,22.0,Transferência Bancária,HENRICO MATOS LIMA DA CUNHA,Minalba
3,20809,2022-06-04,08:41:23,LEVI RIBEIRO AMORIM,Carvão,"R$ 8,74",4,54.96,Em Separação,Campos dos Goytacazes,RJ,Brasil,28000-000,20.0,Pix,GABRIEL QUEIROZ DE AGUIAR,Marca-Brás
4,47123,2019-05-04,13:38:45,GABRIEL MATOS LIMA DA CUNHA,Café,"R$ 9,48",2,18.96,Em Separação,Conselheiro Lafaiete,MG,Brasil,36400-000,0.0,Cartão de Crédito,HENRICO MATOS LIMA DA CUNHA,3 Corações

In [57]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368752 entries, 0 to 368751
Data columns (total 17 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id_da_compra  368752 non-null  int64
 1   data          368752 non-null  object
 2   hora          368752 non-null  object
 3   cliente       368752 non-null  object
 4   produto       368752 non-null  object
 5   valor         368752 non-null  object
 6   quantidade    368752 non-null  int64
 7   total         365067 non-null  float64
 8   status        368752 non-null  object
 9   cidade        368752 non-null  object
 10  estado        368752 non-null  object
 11  pais          368752 non-null  object
 12  cep           368752 non-null  object
 13  frete         361381 non-null  float64
 14  pagamento     368752 non-null  object
 15  vendedor      365072 non-null  object
 16  marca         368752 non-null  object
dtypes: float64(2), int64(2), object(13)
memory usage: 47.8+ MB

        id_da_compra     quantidade          total          frete
count  368752.000000  368752.000000  365067.000000  361381.000000
mean    29992.793590       7.187343      51.977224      56.436404
std     17315.851403       4.651127      56.734791     956.289983
min         0.000000       1.000000       1.000000  -77550.000000
25%     14972.750000       3.000000      20.255000       0.000000
50%     30012.000000       7.000000      35.120000       0.000000
75%     44981.000000      11.000000      60.040000      11.000000
max     59999.000000      24.000000     691.650000  162150.000000

In [58]:
df.isnull().sum()

id_da_compra       0
data               0
hora               0
cliente            0
produto            0
valor              0
quantidade         0
total           3685
status             0
cidade             0
estado             0
pais               0
cep                0
frete           7371
pagamento          0
vendedor        3680
marca              0
dtype: int64

In [59]:
df.duplicated().sum()

np.int64(5158)

In [60]:
df['data'] = pd.to_datetime(df['data'], errors='coerce')

In [61]:
df['hora'] = pd.to_datetime(df['hora'], errors='coerce').dt.time

<ipython-input-61-2516e0c5df3b>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['hora'] = pd.to_datetime(df['hora'], errors='coerce').dt.time

In [63]:
df['hora_ideal'] = df['hora'].apply(lambda x: x.strftime('%H%M%S') if pd.notnull(x) else None)

In [64]:
df[['hora', 'hora_ideal']].head()

       hora hora_ideal
0  23:35:51     233551
1  09:00:53     090053
2  15:30:28     153028
3  08:41:23     084123
4  13:38:45     133845

In [65]:
df['hora_ideal'].dtype

dtype('O')

In [66]:
df['hora_ideal'].isnull().sum()

np.int64(0)

In [67]:
colunas_numericas = ['valor', 'quantidade', 'total', 'frete']

for coluna in colunas_numericas:
    df[coluna] = df[coluna].astype(str).str.replace(',', '.', regex=False)

In [68]:
for coluna in colunas_numericas:
    df[coluna] = pd.to_numeric(df[coluna], errors='coerce')

In [69]:
df[colunas_numericas].dtypes

valor         float64
quantidade      int64
total         float64
frete         float64
dtype: object

In [70]:
df.isnull().sum()

id_da_compra         0
data                 0
hora                 0
cliente              0
produto              0
valor           368752
quantidade           0
total             3685
status               0
cidade               0
estado               0
pais                 0
cep                  0
frete             7371
pagamento            0
vendedor          3680
marca                0
hora_ideal           0
dtype: int64

In [71]:
df = df.dropna()

In [72]:
df['valor'] = df['valor'].fillna(0)
df['quantidade'] = df['quantidade'].fillna(0)
df['total'] = df['total'].fillna(0)
df['frete'] = df['frete'].fillna(0)

In [73]:
df.isnull().sum()

id_da_compra    0
data            0
hora            0
cliente         0
produto         0
valor           0
quantidade      0
total           0
status          0
cidade          0
estado          0
pais            0
cep             0
frete           0
pagamento       0
vendedor        0
marca           0
hora_ideal      0
dtype: int64

In [74]:
df.duplicated().sum()

np.int64(0)

In [75]:
df = df.drop_duplicates()

In [76]:
df = df.drop_duplicates(subset=['id_da_compra'])

In [77]:
df.duplicated().sum()

np.int64(0)

In [78]:
df['total_calculado'] = (df['valor'] * df['quantidade']) + df['frete']

In [79]:
df['total_corretamente_calculado'] = df['total'] == df['total_calculado']

In [80]:
df[df['total_corretamente_calculado'] == False]

Empty DataFrame
Columns: [id_da_compra, data, hora, cliente, produto, valor, quantidade, total, status, cidade, estado, pais, cep, frete, pagamento, vendedor, marca, hora_ideal, total_calculado, total_corretamente_calculado]
Index: []

In [81]:
df.head()

Empty DataFrame
Columns: [id_da_compra, data, hora, cliente, produto, valor, quantidade, total, status, cidade, estado, pais, cep, frete, pagamento, vendedor, marca, hora_ideal, total_calculado, total_corretamente_calculado]
Index: []

In [82]:
df.tail()

Empty DataFrame
Columns: [id_da_compra, data, hora, cliente, produto, valor, quantidade, total, status, cidade, estado, pais, cep, frete, pagamento, vendedor, marca, hora_ideal, total_calculado, total_corretamente_calculado]
Index: []

In [83]:
df.isnull().sum()

id_da_compra                    0
data                            0
hora                            0
cliente                         0
produto                         0
valor                           0
quantidade                      0
total                           0
status                          0
cidade                          0
estado                          0
pais                            0
cep                             0
frete                           0
pagamento                       0
vendedor                        0
marca                           0
hora_ideal                      0
total_calculado                 0
total_corretamente_calculado    0
dtype: int64

In [84]:
df.duplicated().sum()

np.int64(0)

In [85]:
df['total_calculado'] = (df['valor'] * df['quantidade']) + df['frete']

In [86]:
df['total_corretamente_calculado'] = df['total'] == df['total_calculado']

In [87]:
df[df['total_corretamente_calculado'] == False]

Empty DataFrame
Columns: [id_da_compra, data, hora, cliente, produto, valor, quantidade, total, status, cidade, estado, pais, cep, frete, pagamento, vendedor, marca, hora_ideal, total_calculado, total_corretamente_calculado]
Index: []

In [88]:
df.describe()

       id_da_compra data  valor  quantidade  total  frete  total_calculado
count           0.0    0    0.0         0.0    0.0    0.0              0.0
mean            NaN  NaT    NaN         NaN    NaN    NaN              NaN
min             NaN  NaT    NaN         NaN    NaN    NaN              NaN
25%             NaN  NaT    NaN         NaN    NaN    NaN              NaN
50%             NaN  NaT    NaN         NaN    NaN    NaN              NaN
75%             NaN  NaT    NaN         NaN    NaN    NaN              NaN
max             NaN  NaT    NaN         NaN    NaN    NaN              NaN
std             NaN  NaN    NaN         NaN    NaN    NaN              NaN

In [89]:
df['status'].value_counts()
df['cidade'].value_counts()
df['estado'].value_counts()

Series([], Name: count, dtype: int64)

In [90]:
df.dtypes

id_da_compra                             int64
data                            datetime64[ns]
hora                                    object
cliente                                 object
produto                                 object
valor                                  float64
quantidade                               int64
total                                  float64
status                                  object
cidade                                  object
estado                                  object
pais                                    object
cep                                     object
frete                                  float64
pagamento                               object
vendedor                                object
marca                                   object
hora_ideal                              object
total_calculado                        float64
total_corretamente_calculado              bool
dtype: object

In [91]:
df[df['quantidade'] < 0]

Empty DataFrame
Columns: [id_da_compra, data, hora, cliente, produto, valor, quantidade, total, status, cidade, estado, pais, cep, frete, pagamento, vendedor, marca, hora_ideal, total_calculado, total_corretamente_calculado]
Index: []

In [92]:
df[(df['valor'] < 0) | (df['valor'] > 10000)]

Empty DataFrame
Columns: [id_da_compra, data, hora, cliente, produto, valor, quantidade, total, status, cidade, estado, pais, cep, frete, pagamento, vendedor, marca, hora_ideal, total_calculado, total_corretamente_calculado]
Index: []

In [93]:
df.shape

(0, 20)

In [94]:
df.columns

Index(['id_da_compra', 'data', 'hora', 'cliente', 'produto', 'valor',
       'quantidade', 'total', 'status', 'cidade', 'estado', 'pais', 'cep',
       'frete', 'pagamento', 'vendedor', 'marca', 'hora_ideal',
       'total_calculado', 'total_corretamente_calculado'],
      dtype='object')